@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-fonte-principal: "kumbh sans";
}


