@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-fonte-principal: "kumbh sans";
}

 /*HEADER*/

header {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

menu {
    display: flex;
    gap: 60px;
    width: 1300px;
    padding: 30px 20px 40px 20px;
    border-bottom: 1px solid rgba(63, 63, 63, 0.131);
    align-self: center;
    
}

.div-img-logo {
    height: 25px;
    align-self: center;
}

.nav-menu {
    height: 25px;
    align-self: center;
    
}

.nav-menu ul {
    display: flex;
    font-size: 1.2em;
    font-family: var(--ff-fonte-principal);
    gap: 30px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(95, 94, 94);
    
}

.nav-menu a:hover {
    color: hsl(26, 100%, 55%);
    transition: ease-in-out .2s;
}

.div-cart-avatar {
    display: flex;
    gap: 50px;
    justify-content: end;
    width: 100%;
}

.img-avatar {
    display: flex;
    justify-content: end;
    width: 50px;
    height: 50px;
    align-self: center;
}

.img-cart {
    width: 25px;
    height: 25px;
    align-self: center;
}






/*MAIN CONTENTS*/

main {
    padding-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 800px 500px;
    justify-content: center;
}

.section1 {
    width: 800px;
    padding: 20px 50px 50px 50px;
    
}

.big-img {
    width: 700px;
}

.big-img img {
    border-radius: 20px;
   height: 600px;  
}

.section2 {
    display: grid;
    align-content: start;
    padding: 20px 50px 50px 0px;
}

.small-img-group {
    display: flex;
    padding-top: 30px;
    width: 600px;
    justify-content: space-between;
}

.small-img-group img {
    border-radius: 20px;
    width: 120px;
}

.description-sec2 h1 {
    font-size: 3em;
    width: 500px;
    font-family: var(--ff-fonte-principal);
}

.description-sec2 .p1 {
    color: hsl(26, 100%, 55%);
    font-family: var(--ff-fonte-principal);
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 100px;
}

.description-sec2 .p2 {
    font-family: var(--ff-fonte-principal);
    color: rgb(95, 94, 94);
    padding-top: 30px;
    font-size: 1.1em;
}


