@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-fonte-principal: "kumbh sans";
}

 /*HEADER*/

header {
    border: 1px solid magenta;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 2rem;
}

.hamburger-logo-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
}

.hamburguer .line {
    background-color: rgb(113, 113, 121);
    width: 1.5rem;
    height: 0.2rem;
}

#menuclose {
    width: 1.5rem;
    height: 1.5rem;
    
}

.nav-menu {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    font-family: var(--ff-fonte-principal);
    transition: .5s;
}

.slide-menu {
    background-color: white;
    height: 100%;
    width: 66vw;

    padding: 2.3rem;
    transition: .5s;
}

.slide-menu img {
    transition: transform 0.5s ease;
}

.slide-menu img:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.slide-menu ul {
    margin-top: 5rem;
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    list-style: none

}

.slide-menu ul a, :active, :visited {
    color: rgb(75, 75, 80);;
    text-decoration: unset;
}

.slide-menu ul a:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.div-cart-avatar-group {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.2rem;
}

.cart {
    cursor: pointer;
}

.img-avatar {
    width: 2.4rem;
    cursor: pointer;
}

.img-avatar:hover {
    border: 2px solid orange;
    border-radius: 50%;
}


.hidden {
    display: none;
}


/*MAIN CONTENTS*/

/*
main {
    padding-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 800px 500px;
    justify-content: center;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
    }

    .small-img-group, .small-img {
        display: none;
    }
}

.section1 {
    width: 800px;
    padding: 20px 50px 50px 50px;
    
}

.big-img {
    width: 700px;
}

.big-img img {
    border-radius: 20px;
   height: 600px;  
}

.section2 {
    display: grid;
    align-content: start;
    padding: 20px 50px 50px 0px;
}

.small-img-group {
    display: flex;
    padding-top: 30px;
    width: 600px;
    justify-content: space-between;
}

.small-img-group img {
    border-radius: 20px;
    width: 120px;
}

.description-sec2 h1 {
    font-size: 3em;
    width: 500px;
    font-family: var(--ff-fonte-principal);
}

.description-sec2 .p1 {
    color: hsl(26, 100%, 55%);
    font-family: var(--ff-fonte-principal);
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 100px;
}

.description-sec2 .p2 {
    font-family: var(--ff-fonte-principal);
    color: rgb(95, 94, 94);
    padding-top: 30px;
    font-size: 1.1em;
}


