@media screen and (min-width: 1440px) {
    :root {
        --ff-fonte-principal: "kumbh sans";
        --cinza: rgb(113, 113, 121);
        --cinza-claro: rgb(190, 190, 190);
        --laranja-claro: rgb(253, 243, 223);
    }

    .container {
        width: 70%;
        margin: 0 auto;
    }
    header {
        padding: 0;
        border-bottom: 1px solid var(--cinza-claro);
    }

    .hamburger-logo-group {
        gap: 5.4rem;
    }

    .hamburguer {
        display: none;
    }

    .nav-menu {
        display: block !important;
        position: unset;
        height: unset;
        z-index: unset;
    }

    .slide-menu {
        width: unset;
        padding: 0;
    }

    .slide-menu img {
        display: none;
    }

    .slide-menu ul {
        flex-direction: row;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--cinza-claro);
        gap: 3.4rem;
    }

    .slide-menu ul a {
        display: block;
        padding: 4rem 0;
        border-bottom: 3px solid transparent;
    }

    .slide-menu ul a:hover {
        color: black;
        text-decoration: none;
        font-weight: 700;
        border-bottom: 3px solid orange;
    }

    .cart-avatar-group {
        gap: 4.5rem;
    }

    .btnCart .cart-count {
        font-size: 1.1rem;
    }

    .img-avatar {
        width: 5rem;
    }

    .img-cart {
        width: 2rem;
    }

    .cart {
        right: -.1rem;
        top: 90%;
        width: 35.5rem;
    }

    .price-group {
        font-size: 2rem;
    }

    .product-name {
        font-size: 1.5rem;
    }

    .item {
        font-size: 2em;
    }
    
    #btnDelete {
        width: 40px;
        height: 40px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10rem;
        padding: 8rem 5rem;
    }

    .lightbox {
        width: 100%;
    }

    .product-hero {
        border-radius: 1.5rem;
    }

    .previous, .next {
        display: none;
    }

    .thumb-gallery {
        display: flex;
        margin-top: 2.5rem;
        justify-content: space-between;
    }

    .pic {
        display: flex;
        width: 20%;
        height: fit-content;
        overflow: hidden;
        border-radius: 1rem;
    }

    .pic img {
        width: 100%;
    }

    .pic img:hover {
        opacity: .75;

    }

    .active {
        border: 2px solid orange;
    }

    .active img {
        opacity: .5;
    }

    .product {
        width: 100%;
        padding: 3rem 0 3rem 3rem;
    }

    .title {
        font-size: 2.8rem;
        margin-top: 1.8rem;
    }

    .description {
        margin-top: 3.5rem;
        font-size: 1rem;
    }

    .price-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2.4rem;
        gap: .8rem;
    }

    .count-btn-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 1.5rem;
    }

    .counter-wrapper {
        width: 62%;
        border-radius: 1rem;
        padding: 1.2rem .5rem;
    }

    .btn {
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    
        background-color: rgba(0, 0, 0, 0.687);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .btnClose {
        width: 57rem;
        text-align: end;
        padding: 2rem 0;
    }
    
    .btnClose img {
        cursor: pointer;
        filter: brightness(300%);
        width: 25px;
        height: 25px;
    }
    
    .lightbox {
        max-width: 40rem;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .overlay .next {
        
        right: 0;
        
        transform: translateX(50%);
    }
    
    .overlay .previous {
        
        left: 0;
        transform: translateX(-50%);
    }
    
    .lightbox .arrow {
        top: 40%;
    }

    .hidden {
        display: none;
    }
    
}

